/* global config */
:root {
  --ivorywhite-color: #f0f0f0;
  --tan-color: #e6e2d3;
  --yellowgreen-color: #4caf50;
  --vermillionred-color: #c94c4c;
  --blue-color: #008cba;
  --grey-color: #555555;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* app container */
.app {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 2rem;
}

/* form */
.form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  margin: 0 auto;
}

.submit-btn {
  background-color: var(--blue-color);
}

.input {
  height: 2rem;
}
.input:focus {
  outline: none;
}

/* todo list */
.todo-lists__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 85%;
  grid-auto-rows: minmax(500px, auto);
}

.todo-list__container {
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: var(--ivorywhite-color);
}

.todo-list__container h3 {
  margin: 1rem 0.5rem;
}

.todo-list__container h4 {
  margin: 1rem 0.5rem;
}

.todo-list {
  display: grid;
  list-style-type: none;
}

.todo-list li {
  display: flex;
  background-color: var(--tan-color);
  align-items: center;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.todo-list span {
  height: 2rem;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}

.todo-list span:focus {
  outline: none;
}

.todo-list button,
.submit-btn {
  border: none;
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
}

.todo-list button[id*="delete"] {
  background-color: var(--vermillionred-color);
}
.todo-list button[id*="edit"] {
  background-color: var(--blue-color);
}
.todo-list button[id*="move"] {
  background-color: var(--yellowgreen-color);
}

svg {
  width: 20px;
  height: 20px;
  fill: white;
  pointer-events: none;
}

.todo-list li span {
  flex-grow: 1;
  text-align: center;
}
